body {
    overflow-x: hidden;
    background:#eee;
}

.card {
    background:#fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.container {
    padding: 10px 15px;
    height: calc(100vh - 20px);
    width: 100%;
    display: flex;
}

.input {
    background:#fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 4px;
    width: calc(100% - 30px);
    margin-bottom: 10px;
}

.span {
    color: #777;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 900;
}

.title {
    color: #555
}

.link {
    color: blue;
    font-size: 14px;
    padding: 15px;
}

.block-center {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.content-post{
    margin:  0 auto;
}

.card {
    margin-bottom: 10px;
}

.card-body {
    margin: 10px 0 10px;
    display: flex;
    justify-content: space-around;
}

.nav {
    background: #fff;
    border-bottom: 1px solid #aaa;
    padding: 10px 15px;
}

.nav ul {
    display: flex;
    justify-content: space-around;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    text-decoration: none;
    color: #000;
}


.content-profile{
    padding: 15px;
}

.content-profile .profile {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img img {
    border-radius: 100%;
}