.card {
    background:#fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
}

.container {
    background:#eee;
    padding: 10px 15px;
    height: calc(100vh - 20px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    background:#fff;
    border: 1px solid #ddd;
    padding: 10px 15px;
    border-radius: 4px;
    width: calc(100% - 30px);
    margin-bottom: 10px;
}

.span {
    color: #777;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 900;
}

.title {
    color: #555
}

.link {
    color: blue;
    font-size: 14px;
    padding: 15px;
}

.block-center {
    width: 100%;
    padding: 15px 0;
    text-align: center;
}